# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/

# Flask
instance/
*.db
*.sqlite3

# VSCode or JetBrains IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Uploads
static/uploads/*
!static/uploads/.gitkeep
instance/
